[color]
  	diff = auto
  	status = auto
  	branch = auto
  	interactive = auto
  	ui = true
  	pager = true	
[pull]
	rebase = true
[color]
	ui = auto
[diff]
    tool = meld
[difftool]
    prompt = false
[difftool "meld"]
    cmd = meld "$LOCAL" "$REMOTE"
[merge]
    tool = meld
[mergetool "meld"]
    cmd = meld "$LOCAL" "$BASE" "$REMOTE" --output "$MERGED"
[alias]
	adog = log --all --decorate --oneline --graph
	root = rev-parse --show-toplevel
